/* unvisited link*/
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
}