/* unvisited link*/
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-text {
  display: flex;
  height: 44px;
  width: 584px;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #dfe1e5;
  border-radius: 24px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto; /*Same as margin: 0 auto;*/
  outline: none; /* By default, some browsers will add a blue outline around the input when it gets focus (clicked on).*/ 
}

.form-button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}