/* unvisited link*/
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input {
  display: flex;
  height: 44px;
  width: 584px;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #dfe1e5;
  border-radius: 24px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto; /*Same as margin: 0 auto;*/
  outline: none; /* By default, some browsers will add a blue outline around the input when it gets focus (clicked on).*/ 
  padding-left: 12px;
}

.text-input:hover {
  /* style lorsque l'input est survolé par la souris */
  border-color: #999;
  cursor: pointer;
}

.but{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.p1{
  color: #d93025;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 35px;
  margin-right: 35px;
}

.p2{
  color: #333333;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 35px;
  margin-right: 35px;
}

.div-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}

.left{
  width: 200px;
}

.right{
  width: 385px;
}

.div-button{
  display: flex;
  justify-content: flex-end;
  width: 595px;
  margin-top: 30px;
}

.advanced-button{
  box-shadow: none;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
}